<!DOCTYPE html>
<html>
  <head>
    <title>EvilChat</title>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= yield %>
  </body>
</html>
